body{
  background-color: black;
}
.weather-section{
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 2px solid rebeccapurple;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  border-radius: 10px;
  padding: 20px;
  background: linear-gradient(80deg,#0090fe,#8a5481);
  color: white;
}
input{
  border: 0;
  background: #ebfffc;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 18px;
}
button{
  border: 0;
  padding: 10px 10px;
  background: #ebfffc;
  border-radius: 10px;
  cursor:pointer;
  font-size: 18px;
  margin-top: 10px;
}

@media only screen and (max-width: 450px){
  .weather-section{
    width: 95%;
  }
}